<!DOCTYPE html>
<html>
<head>
<title>web page</title>
</head>
<body>
	<h1>Registration form</h1>
	<div>

	<form action="{% url 'my registration' %}" method="post">
		{% csrf_token %}
		<label for="first-name">First name:</label>
		<input type="text" name = "firstname" placeholder ="abc" required><br><br>
		
		<label for="last-name">Last name:</label>
		<input type="text" name = "lastname" placeholder ="abc" required><br><br>
	<div>
		<label for="gender">Male:</label>
		<input type="radio" name = "gender" value="male">

		<label for="gender">Female:</label>
		<input type="radio" name = "gender" value="female"><br><br>

		<label for="Phonenumber">Phone number:</label>
		<input type="text" name = "phonenumber" placeholder="123456789" required><br><br><br>

		<label for="address">Address:</label>
		<input type="text" name = "address" placeholder="vijayawada" required><br><br>
		
		
		<label for="languagesknown">Languages known</label><br>
  		<input type="checkbox" id="languagesknown" name="languagesknown" value="Python">
 	 	<label for="python">Python</label><br>
  		<input type="checkbox" id="languagesknown" name="languagesknown" value="Html">
  		<label for="Html">Html</label><br>
  		<input type="checkbox" id="languagesknown" name="languagesknown" value="Java">
  		<label for="java">Java</label><br><br>
	
  		


	</div>

	<div>
		<label for="Email">Email:</label>
		<input type="text" name = "email" placeholder ="abc@gmail.com"><br><br>

		<label for="password">Password:</label>
		<input type="password" name = "password" ><br><br>
		
	</div>
	<button type="submit">Submit</button>
	</form>
    </div>


</body>
</html>
